body {
  color: #40514E;
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
}

h1 {
  margin: 50px auto 0 auto;
  font-family: 'Pacifico', cursive;
  font-size: 5rem;
  color:#66BFBF;
}

h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
  color: #66BFBF;
  font-weight: normal;
}

h3 {
  font-family: 'Montserrat', sans-serif;
  color: #11999E;
}
hr{
  border: 6px dotted #EAF6F6;
  border-bottom: none;
  width: 4%;
  margin: 100px auto;
}
p{
  line-height: 2;
}
a{
  color: #11999E;
  font-family: 'Montserrat', sans-serif;
  margin: 10px 20px;
  text-decoration: none; /* wylacza automatyczne podkreslanie tekstu*/
}
a:hover {
  color: #EAF6F6;
}
.intro{
  width:30%;
  margin:auto;
}
.top-container {
  background-color: #EAF6F6;
  position: relative;
  padding-top: 100px;
  line-height: 2;
}

.middle-container {
  margin: 100px 0;


}

.bottom-container {
background-color: #66BFBF;
padding: 50px 0 20px;
}

.top-cloud {
  position: absolute;
  right: 300px;
  top: 50px;
}

.bottom-cloud {
  position: absolute;
  bottom: 300px;
  left: 300px;
}
.footer-link{
  color:#11999E;
}
.skill-row{
  width: 50%;
margin: 100px auto 100px auto;
text-align: left;
 overflow: hidden; /* pozwala zmiescic obraz ktory normalnie wychdzodzil za daleko */
}
.html-im{
  width: 25%;
  float: left;
margin-right: 30px;
}
.css-im{
  width: 25%;
  float: left;
  margin-right: 30px;
}
.contact-message{
  width: 40%;
  margin: 40px auto 60px;
}
.myButton {
	box-shadow:inset 0px 1px 0px 0px #a4e271;
	background:linear-gradient(to bottom, #89c403 5%, #77a809 100%);
	background-color:#89c403;
	border-radius:6px;
	border:1px solid #74b807;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family: 'Montserrat', sans-serif;
	font-size:15px;
	font-weight:bold;
	padding:6px 20px;
	text-decoration:none;
	text-shadow:0px 1px 0px #528009;
}
.myButton:hover {
	background:linear-gradient(to bottom, #77a809 5%, #89c403 100%);
	background-color:#77a809;
}
.myButton:active {
	position:relative;
	top:1px;
}
.copyright{
  color: #EAF6F6;
  font-size: 0.75rem;
  padding: 20px 0 ;
}
